.footer{
   
    padding-bottom: 60px;
    background-color: #2F303A;
}

.footer__item{
 margin-top: 60px;
 margin-bottom: 20px;
}
.footer-address{
    margin-bottom: 9px;
}
.footer__item .studio-footer{
font-weight: 700;
font-size: 26px;
line-height: 31px;
color: #ffffff;
}

.footer-address__link{
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 1.71;
color: var(--secondary-title-color);
}

.footer-address__mailto{
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 1.71;
color: rgba(255, 255, 255, 0.6);
}

.footer-address__mailto:hover,
.footer-address__mailto:focus{
color:var(--accent-color)
}

.footer-address__tel{
 font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 1.71;
color: rgba(255, 255, 255, 0.6);
}

.footer-address__tel:hover,
.footer-address__tel:focus{
color:var(--accent-color)
}

.footer-container{
    display: inline-block;
    padding-left: 40px;

}

.text{
    font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #FFFFFF;
margin-top: 70px;
margin-bottom: 20px;
}

.social-footer{
    display: flex;
    text-align: center;
    justify-content: center;
    padding-left: 0;
}

.social-footer__item{
    width: 44px;
    height: 44px;
}

.social-footer__link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    fill: #FFFFFF;
}

.social-footer__item:not(:last-child) {
    margin-right: 10px;
}

.social-footer__link:hover,
.social-footer__link:focus,
.social-footer__link:hover .socials-footer__icon
.social-footer__link:focus .socials-footer__icon{
    fill: #FFFFFF;
    background-color: #2196F3 
}
