.header, .container{
    display: flex; 
}


.header{
    padding-top: 24px;
    padding-bottom: 24px;
   border: 1px solid #ECECEC;;
}


.header-navigation__list, .header-navigation{
display: flex;
align-items: center;
padding-left: 0px;
}

.header-navigation{
    width: 100%;
    justify-content: space-between;
}

.header-navigation__item:not(:last-child){
    margin-right: 50px;
}

   .header-navigation__item{
    position:relative;
}

.header-navigation__item .current::after{
  content: " ";
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
    top: 43px;
    left: 0;
  height: 4px;
background: #2196F3;
border-radius: 2px;
    
}