.header-navigation__logo{
    margin-right: 93px;
}
.web{
font-weight: 700;
font-size: 26px;
line-height: 1.19;
color:var(--accent-color)
}

.header-navigation__studio{
font-weight: 700;
font-size: 26px;
line-height: 1.19;
color: #000000;
}